
nav#navbar  {
    grid-area:navbar;
    position: fixed;
    background-color: rgb(250, 244, 244);
    block-size: left;

}
nav#navbar a {
    display:block;
    border: 2px solid black;
    padding: 5px;
    margin: 20px 0 0;
    text-decoration: none;
    color: rgb(6, 12, 14);
}
main#main-doc {
    grid-area: maincontent;
    
}
header {
    font-size: 1.5rem;
    font-weight: bold;
}
code {
    background-color: #ccc;
    display: block;
    padding: 20px;
}
.p {
    size: 80%;
    margin-left: 8%;

}
